
*{
	box-sizing: border-box;
	}

body{
	background-color: #1b255f ;
}
.logo img {
	width:70px;
	height: 70px;
}

.logo_img a img{
	height:150px;
	width:150px;
}
.box1{
	position: absolute;
	top: 18% ;
	left: 34%;  
}
.bg-img{
	background: url(../images/sign1.jpg) no-repeat;
	background-size:cover;
	width: 100%;
	display: block;
	height: 500px;
}
.reg{
	background-color:#fff;
}
.topbar{
	
}
.getf .btnCus {
	background: #303352;
    border: 2px solid #fff;
    padding: 2px 0px;
    border-radius: 20px;
    width: 50%;
}
input[type="text"],
.form {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
input[type="text"]:focus,
.form:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::placeholder {
	color: #000 !important;opacity:0.7;
}
.sidebar{
	height: 800px;
}

@media screen and (min-width: 580px) and (max-device-width: 900px)
{
	body{
		font-size: 30px;
	}
	.box1 {
     position: absolute; 
     top: 0%;
     left: 0%;
}
.serch{
	 display: none;
}
}

/*page css*/
 .wrapper {
            display: flex;
            width: 100%;
            align-items: stretch;
        }
        
        #sidebar {
            color: #000;
            transition: all 0.3s;
            height: auto;
        }
        
        .components a {
            text-decoration: none;
            color: #000;
        }
        
        #sidebar .sidebar-header {
            padding: 20px;
            background: #fff;
        }
        
        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }
        
        #sidebar ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
        }
        
        #sidebar ul li a:hover {
            color: #000;
            background: #fff;
        }
        
        a[data-toggle="collapse"] {
            position: relative;
        }        
        ul ul a {
            font-size: 20px !important;
            padding-left: 30px !important;
            background: #fff;
        }
/*page css*/