<div class="container">
  <div class="row">
    <div class="col-lg-3" *ngFor="let Product of products$ | async">
      <app-product-list-item [product]="Product"></app-product-list-item>
    </div>
  </div>

</div>
