
  <div class="container-fluid">
      <div class="container">
          <div class="row ">
              <div class="col-lg-4 col-sm-12 logo_img bg-white py-5 box1 window">
                  <div class="row text-center">
                      <div class="col-lg-12 mb-3">
                          <a href=""><img src="../assets/images/acheron logo.png" style ="width:100px;height:100px;"class="border rounded-circle"></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12 mx-auto">
                          <form>
                              <div class="form-group py-2">
                                  <input type="text" class="form-control form" id="User" placeholder="User Name...">
                              </div>
                              <div class="form-group py-2">
                                  <input type="password" class="form-control form" id="Pword" placeholder="Password">
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="row py-2">
                      <div class="col-lg-12">
                          <a class="ml-5 text-primary bg-light" routerLink='/main' >Login</a>
                          <a class=" mr-3 float-right bg-light text-success" routerLink='/reg'> New User Registration?</a>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
