<section>
  <div class="col-lg-4 py-4 mx-auto">
    <form class="mt-4 reg" autocomplete="off" (ngSubmit)="onLoginSubmit(myForm)" #myForm="ngForm" name="LoginForm">
      <div class="form-row px-3">
        <div class="col-lg-12">
          <h4 class=" py-2 px-2 text-primary text-center"> Login Form </h4>

        </div>
      </div>
      <!-- <div class="form-row px-3">
        <div class="col-lg-12">
          <label for="username">
            <strong>User Name :</strong>
          </label>
          <input type="text" class="form-control form" id="uname" placeholder="First name" value="">
          <div class="valid-feedback">
          </div>

        </div>
      </div> -->
      <div class="form-row px-3 ">
        <div class="col-lg-12">
          <label for="email">
            <strong>Email :</strong>
          </label>
          <input type="email" class="form-control form"  id="email" placeholder="Enter Email..." ngModel required #myEmail="ngModel" name="email">

          <div *ngIf="myEmail.dirty && myEmail.errors?.required">
            This Field is Required
          </div>

        </div>
      </div>
      <div class="form-row px-3">
        <div class="col-lg-12">
          <label for="password">
            <strong>Password :</strong>
          </label>
          <input type="Password"  class="form-control form" id="rpwd" placeholder="Enter Password..." ngModel required name="password" >
        
        </div>
      </div>
<!-- 
      <div class="form-row px-3">
        <div class="col-lg-12">
          <label for="mobile">
            <strong>Mobile :</strong>
          </label>
          <input type="text" class="form-control form" id="mobile" placeholder="Mobile number..." value="">
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
          </div>
        </div>
      </div> -->
      <div class="form-row py-3 px-5">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="myForm.invalid">Login </button>
      </div>
    </form>
  </div>
</section>