<div class="card-group py-5">
  <div class="card">
    <img class="card-img-top img-fluid w-100" title="{{product.name}}" src="{{product.imgUrl}}" alt="Card image cap" style="width:150px;height:150px ;">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text"> {{product.model}}.</p>
      <p class="card-text"> {{product.company}}.</p>
      <p class="card-text"> {{product.description}}.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary text-white" routerLink="/product-detail/{{product.name}}">View Details</a>
      <button class="btn btn-warning text-white  ml-1">Buy Now</button>
    </div>
  </div>
</div>