<div class="col-lg-4 mx-auto py-3">
  <div class="card text-warning bg-dark text-center">
<div *ngIf="productDetail">
  
  <img src="{{productDetail.imgUrl}}" style="width:100%;height:300px;">
  <p>Name--{{productDetail.name}}</p>
  <p>Model--{{productDetail.model}}</p>
  <p>Company--{{productDetail.company}}</p>
  <p>Desc--{{productDetail.description}}</p>
</div>
</div>
</div>

<!-- 
<h3>
  {{productDetail | json}}
</h3> -->
