<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row py-3  bg-dark text-warning">
    <div class="col-lg-3">
      <h3>AngularCart</h3>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <input class="form-control" type="search" value="" id="example-search-input" placeholder="Search....">
        <span class="input-group-append">
          <button class="btn btn-outline-light" type="button">
            <i class="fa fa-search"></i> Search
          </button>
        </span>
      </div>
    </div>
    <div class="col-lg-3">
      <a class="btn btn-primary ml-5" routerLink='/products'>Products</a>
      <a class="btn btn-warning ml-5" routerLink='/cart'>Cart</a>



    </div>
    <div class="col-lg-2">
      <!-- <app-minicart></app-minicart> -->
      <a class="btn btn-success ml-3" *ngIf="!isLoggedIn" routerLink='/login'>Login</a>
      <a class="btn btn-success ml-3" (click)="onLogOut()" *ngIf="isLoggedIn">LogOut</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <router-outlet></router-outlet>
      <!-- <app-product-list *ngIf="activeView==='productList'"></app-product-list>
        <app-product-detail  *ngIf="activeView==='productDetails'"></app-product-detail>
      <app-cart-list *ngIf="activeView==='cart-List'"></app-cart-list> -->
    </div>
  </div>
</div>